// Typography
$font-family: var(--font-family);
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Site Theme Settings
$primary: #8a1538; // Green
$secondary: #c8163d; // Dark Red
$primary-text: #484848; // Black with light gray

$font-size: 16px;
$break-mob: 992px;
$font-size-md: 18px;
$border-radius-xl: 15px;